{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PrinceFound</title>
    <link rel="stylesheet" href="{% static 'sapinhocss.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<body>

    <div class="login-card">
        <img src="{% static 'sapinhofofo.png' %}" alt="Sapinho" class="sapinho-img">

        <h2>PrinceFound</h2>

        <p class="slogan">
            Cuidar de si é um ato de <strong>amor</strong>.
        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>

</body>
</html>